<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"/>
    <meta charset="UTF-8">
    <title>UpVote!</title>
</head>
<body>
<div id="app">
    <h2 class="title has-text-centered dividing-header">UpVote!</h2>
    <div v-for="submission in submissions" v-bind:key="'mainDiv ' + submission.id"
         v-bind:id="'postCell ' + submission.id" class="section">
        <article class="media">
            <figure class="media-left">
                <img v-bind:id="'image ' + submission.id" class="image is-64x64"
                     v-bind:src="submission.submission_image"/>
            </figure>
            <div v-bind:id="'postContent ' + submission.id" class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            <a v-bind:id="'title ' + submission.id" v-bind:href="submission.url"
                               class="has-text-info">
                                #{submission.title}
                            </a>
                            <span class="tag is-small">##{submission.id}</span>
                        </strong>

                        <br/>

                        <span v-bind:id="'message ' + submission.id">
                        #{submission.description}
                        </span>

                        <br/>
                        <small v-bind:id="'author ' + submission.id" class="is-size-7">
                            Pubblicato da:
                            <img class="image is-24x24" v-bind:src="submission.avatar"/>
                        </small>
                    </p>
                </div>
            </div>
            <div v-bind:id="'votes ' + submission.id" class="media-right">
                    <span class="icon is-small">
                        <i class="fa fa-chevron-up"></i>
                        <strong class="has-text-info">#{submission.votes}</strong>
                    </span>
            </div>
        </article>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script>
    new Vue(
        {
            el: '#app',
            delimiters: ['#{', '}'],
            data: {
                'submissions': {{submissions|safe}}
            }
        }
    );
</script>
</body>
</html>